*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a,
a:hover {
    all: unset;
}

textarea::placeholder,
input::placeholder {
    color: var(--color-secondary);
}

/* select,  */
/* input[type='text'] */
/* input[type='email'],
input[type='password']{
    all:unset;
    border: none;
} */

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    /* user-select: none; */
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

table {
    border-collapse: collapse;
}

.global-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    height: 100vh;
    gap: 1rem;
}

/* .global-container .left-side .main-title{
    text-transform: uppercase;
} */

.global-container .left-side,
.global-container .right-side {
    overflow: auto;
    height: 100vh;
}

.global-container .left-side {
    grid-column: span 9;
    padding: 1.5rem 1rem 2rem .5rem;
    gap: 1rem;
}

.global-container .right-side {
    grid-column: span 3;
    background: var(--color-surface);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: var(--shadow-4);
    gap: 2rem;
    padding: 2rem 1.5rem;
}

.global-container .left-side .calendrier,
.global-container .left-side .UpCommingEvents,
.global-container .left-side .NotesCmp {
    display: none;
}


@media (max-width: 768px) {
    .global-container {
        grid-template-columns: 1fr;
        padding-inline-end: .5rem;
        padding-block-end: 1rem;
        padding: 0;
    }

    .global-container .left-side {
        grid-column: span 1;
        /* grid-row: auto; */
    }

    .global-container .right-side {
        display: none;
    }

    .global-container .left-side .calendrier,
    .global-container .left-side .UpCommingEvents,
    .global-container .left-side .NotesCmp {
        display: block;
        background: var(--color-surface);
    }
}

@media (max-width :480px) {
    .global-container {
        grid-template-rows: auto;
        padding-block-end: 1rem;
        padding-inline: 1rem;
    }

    .global-container .left-side {
        padding: 2rem 0rem;
    }

    .global-container .left-side .calendrier,
    .global-container .left-side .UpCommingEvents,
    .global-container .left-side .NotesCmp {
        display: block;
        background: var(--color-surface);
    }

    .global-container .right-side {
        display: none;
    }
}

.title {
    text-transform: uppercase;
}

.transition-colors {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.transition-shadow {
    transition: box-shadow 0.2s ease-in-out;
}

.calendrier {
    width: 100%;
    /* width: fit-content; */
    /* height: fit-content; */
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    padding: .5rem;
    z-index: 1;
}

.checking-btns {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.checking-btns button {
    all: unset;
    background: var(--color-primary);
    color: var(--color-text-light);
    padding: .5rem;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    transition: all .5s ease;
    width: 50%;
    text-align: center;
}

.checking-btns .cancel-btn {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-text);
}

.checking-btns .cancel-btn:hover {
    background: var(--color-accent);
}

.checking-btns .save-btn:hover {
    background: var(--color-primary-dark);
}

@keyframes fadeDown {
    0% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0;
    }
}