.form-container {
    background-color: var(--color-surface);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    animation: anim-item .5s;
    font-size: 14px;
    padding-inline: 1rem;
    background-image: url('@/assets/images/form-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

.auth-form {
    width: 45%;
    background: var(--color-surface);
    border: 2px solid var(--color-primary);
    padding: 3rem 1rem;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: var(--shadow-4);
}

.form-container .auth-form .logo {
    width: 120px;
    height: 120px;
    background-color: var(--hover-lw);
    border-radius: 50%;
    margin: auto;
}

.auth-form .form-group {
    gap: 0.5rem;
    color: var(--color-secondary);
}

.auth-form .form-group label {
    font-size: 14px;
}

.form-container .auth-form .form-group .input {
    all: unset;
    border: 2px solid var(--hover-lw);
    padding: .8rem;
    border-radius: .5rem;
    font-family: 'Poppins', sans-serif;
    animation: anim-item .5s;
    font-size: 12px;
    transition: all .5s ease;
}

.form-container .auth-form .form-group .input:hover,
.form-container .auth-form .form-group .input:focus {
    border: 2px solid var(--color-primary);
}

.form-container .auth-form .forgot {
    color: var(--color-secondary);
    text-align: end;
    cursor: pointer;
    transition: all .5s ease;
}

.form-container .auth-form .forgot:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;
}

.form-container .auth-form .btns-group {
    gap: 1rem;
}

.auth-form .btns-group button {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 1rem;
    border-radius: 50px;
    width: 100%;
    transition: text-decoration .5s ease, background .5s ease;
    cursor: pointer;
    margin-top: 2rem;
    /* animation: anim-item .5s; */
}

.auth-form .btns-group .submit-btn {
    background: var(--color-primary);
    color: var(--color-text-light);
    /* animation: anim-item .5s; */
}

.auth-form .btns-group .submit-btn:hover {
    background: var(--color-secondary);
}

.auth-form .btns-group .cancel-btn {
    background: var(--hover-lw);
    color: var(--color-primary);
}

.auth-form .btns-group .cancel-btn:hover {
    background: var(--color-accent);
}


.check-box-input input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: .5rem;
}

.check-box-input input[type="checkbox"]:checked {
    background-color: var(--color-secondary);
}

.check-box-input input[type="checkbox"]:checked::after {
    content: "✔";
    color: var(--hover-lw);
    position: absolute;
    top: -2px;
    left: 3px;
}

.check-box-input span {
    color: var(--color-secondary);
}

.select-input {
    width: 100%;
    padding: .8rem;
    background: var(--hover-lw);
    color: var(--color-primary);
    border-radius: 4px;
    border: 1px solid #00000000;
    transition: all .5s ease;
}

@media (max-width:768px) {
    .auth-form {
        width: 100%;
    }
}