.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.modal-content {
    background-color: var(--color-surface);
    border: 1px solid var(--color-primary);
    width: 30%;
    min-height: 200px;
    border-radius: 30px;
    overflow: hidden;
    padding: 2rem;
    box-shadow: var(--shadow-4);
    animation: .3s modalmoveup linear forwards;
    gap: 1rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.dsc{
    font-size: 12px;
    color: var(--color-muted);
}

.btn-grp{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn-grp .btn{
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: var(--color-primary);
    transition: background .3s ease;
}

.btn-grp .btn:hover{
    background-color: var(--hover-lw);
}

.btn-grp .delete-btn{
    background-color: var(--color-danger-bg);
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
}

.btn-grp .delete-btn:hover{
    background-color: var(--color-danger);
    color: var(--color-text-light);
}
@keyframes modalmoveup {
    0% {
        opacity: .8;
        transform: translateY(1%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width:768px) {
    .modal-content {
        width: 80%;
    }
}