.notes-adm-container {
    gap: 1rem;
}


.cont-head {
    animation: fadeDown .5s;
}

.notebook {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background: var(--color-background);
    border-radius: 10px;
    animation: fadeDown .4s;
    border: 1px solid var(--color-primary);
}

.cont-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

.cont-head .close-btn {
    all: unset;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background .5s ease;
    color: var(--color-primary);
    background-color: var(--color-background);
}

.cont-head .close-btn:hover{
    background-color: var(--hover-lw);
}

.notebook .title {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-primary);
    animation: fadeDown .5s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notebook .title input,
.notebook .title input:hover,
.notebook .title input:focus {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notebook .title input,
.paper {
    all: unset;
    padding: 0.5rem 1rem;
    transition: background .5s ease;
}

.notebook .title input:hover,
.notebook .paper:hover {
    background: var(--hover-lw);
}

.paper {
    min-height: 150px;
    animation: fadeDown .5s;
}

.notebook .paper,
.notebook .paper:hover,
.notebook .paper:focus {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.notebook .msg {
    font-size: 10px;
    margin-left: 0.5rem;
}

.adm-btn {
    all: unset;
    padding: .8rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    transition: background .5s ease;
    cursor: pointer;
    animation: fadeDown .5s;
    font-size: 11px;
    text-align: center;
}

.editeur-btn:hover {
    background-color: var(--color-primary-dark);
}