.popover-content {
    position: absolute;
    top: 48px;
    right: 0;
    background-color: var(--color-surface);
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    box-shadow: var(--shadow-4);
    z-index: 1000;
    font-size: 12px;
    border: 1px solid var(--color-primary-light);
}

.popover-content .item {
    padding: 0.5rem;
    transition: background .5s ease;
    cursor: pointer;
    animation: anim-item .5s;
    border-radius: 5px;
}

.popover-content .item:hover {
    background: var(--hover-lw);
}

.popover-content .item .bi {
    margin-inline-end: .5rem;
}

@keyframes anim-item {
    0% {
        opacity: .5;
        margin-top: -10px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}