:root {
    --color-primary: #146EB4;         /*Couleur principale – titres, logo, header */
    --color-primary-light: #5DA2DE;   /* Variante claire – hover, fonds secondaires */
    --color-primary-dark: #0F4C80;    /* Variante foncée – footer, boutons actifs */

    --color-secondary: #0F8ED4;       /* Couleur secondaire – liens, icônes, accents */
    --color-accent: #6ac6ff;          /* Accent – boutons "call to action", alertes */

    --color-background: #F9F9F9;      /* Arrière-plan général du site */
    --color-surface: #FFFFFF;         /* Cartes, blocs de contenu, modales */
    --color-text: #146EB4;            /* Texte principal (titres, paragraphes) */
    --color-text-light: #FFFFFF;      /* Texte clair sur fond foncé (boutons, overlays) */
    --color-muted: #888888;           /* Texte secondaire – sous-titres, infos discrètes */

    --hover-lw: #d6eff7;
    --color-danger: #dc3545;
    --color-danger-bg: #dc354515;
    --color-success: rgb(69, 166, 27);
    --color-success-bg: rgba(91, 226, 33, 0.083);
    --color-warning: #FFD900;

    --shadow: 0px 1px 9px #146eb461;
    --shadow-2: 0px 1px 9px var(--color-muted);
    --shadow-3: 0px 1px 9px #52b6f54f;
    --shadow-4: 0px 1px 9px #aac0ce4f;
}

/* scrollbar */
::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-track {
    background-color: var(--hover-lw);
    margin: 2px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    transition:background .5s ease;
    border-radius: 50px;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}