.table-container-fluid {
  display: flex;
  background: var(--color-surface);
  border: 2px solid var(--color-primary);
  padding: 1rem;
  border-radius: 15px;
  gap: 1rem;
}

.table-container-header .title {
  text-transform: uppercase;
}

.table-container-header .stats {
  gap: 1rem;
}

.table-container-header .stats span {
  font-size: 12px;
  border-radius: 50px;
  padding: 0.2rem 0.8rem;
}

.table-container {
  max-height: 320px;
  overflow: auto;
  border: 1px solid var(--color-accent);
}

table {
  width: 100%;
  font-size: 12px;
}

table thead {
  background: var(--color-secondary);
  color: var(--color-text-light);
}

thead th,
td {
  text-align: start;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background: var(--hover-lw);
}

.vld-signe {
  width: 100%;
  height: 100%;
  /* padding: 0.4rem; */
}

.success {
  background-color: var(--color-success-bg);
  color: var(--color-success);
}

.danger {
  background-color: var(--color-danger-bg);
  color: var(--color-danger);
}
